# dependencies
/node_modules

# build and test output
/dist
/coverage
/generated/prisma

# environment files
.env
.env.*
!.env.example

# logs
*.log

# operating system and editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

/generated/prisma
